<div *ngIf="!isAuthenticated">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <input type="text"
               class="login-input"
               ngModel
               name="email"
               placeholder="Email"
               required>
        <input type="password"
               class="login-input"
               ngModel
               name="password"
               placeholder="Mot de passe"
               required>
        <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
</div>
<div *ngIf="isAuthenticated">
    {{welcomeMessage}}
    <pre> {{jbbData | json}}</pre>
</div>